#wrapper{
  width: 50%;
  margin: auto;
}

body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 50px;
}

h1, h2, h3, h4{
  font-family: "Times New Roman", serif;
  margin-bottom: 5px;
}

p{
  margin: 0;
  margin-bottom: 15px;
}

/* overskrifter */
h1{ font-size: 50px; margin-top: 25px; }
h2{ font-size: 30px; margin-top: 0; }
h3{ font-size: 25px; margin-top: 15px; }
h4{ font-size: 20px; }

.italic{
  font-style: italic;
  margin: 30px 0;
}

figure, .left-text{
  width: 50%;
  margin: 0 0 20px 0;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

.left-text{
  margin: 0;
}

figure img{
  width: 100%;
  margin-bottom: 8px;
}

img{
  max-width: 100%;
}

iframe{
  margin: auto;
  box-shadow: 5px 5px 15px #707070;
}

.proto-link{
  width: auto;
  padding: 15px 20px;
  background-color: #04669B;
  color: white;
  margin-top: 20px;
  text-decoration: none;
}

.proto-link:hover{
  background-color: #007BBE;
}

.full-width-figure{
  width: 100%;
  float: none;
}

nav{
  background-color: white;
  height: 50px;
  text-align: right;
  position: fixed;
  top:0;
  width: 50%;
}

nav a{
  box-sizing: border-box;
  display: inline-block;
  padding: 17px 10px;
  color: #698bc7;
  text-decoration: none;
}

nav a:hover{
  color: #415681;
}

article{
  padding-top: 50px;
}

@media only screen and (max-width: 1024px){
  #wrapper{
    width: 80%;
  }

  nav{
    width: 80%;
  }
}

@media only screen and (max-width: 750px){
  #wrapper{
    width: 90%;
  }

  nav{
    width: 90%;
  }
}